<%- include('./layouts/header.ejs') %>

<div class="row products">

    <% products.forEach(product => { %>
        <div class="col-xs-12 col-md-4 p">
            <a class="pa" href="/products/<%= product.category %>/<%= product.slug %>">
                <img class="pimage" src="/product_images/<%= product.id %>/<%= product.image %>" alt="">
            </a>
            <hr>
            <h5><%= product.title %></h5>
            <h6>R$ <%= product.price %></h6>
            <a class="vd" href="/products/<%= product.category %>/<%= product.slug %>">View Details</a>
            <p class="add-cart-details">
                <a class="btn btn-success" href="/cart/add/<%= product.slug %>">Add to cart <i class="bi bi-cart"></i></a>
            </p>
        </div>
    <% }) %>
</div>

<%- include('./layouts/footer.ejs') %>
